<header>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4"></h5>
        <span class="text-muted"></span>
      </div>
    </div>
    <nav class="navbar navbar-light bg-light fixed-top">
      <div class="container-fluid " >
            <a class="navbar-brand" href="#">
              <img src="/img/header.png" alt="logo">
             </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <form class="search d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <div class="text d-flex flex-row align-items-center">
              <a href=""><img src="/img/Group 15.png" alt=""> </a><p>Unis badri</p>
              <a href=""><img src="/img/fi_chevron-down.png" alt=""> </a>      
          </div>
        </div>
    </nav>
  </header>

  <section id="side-nav">
    <div class="sidenav" id="sidenav">
      <a class="navbar-brand" href="#"><img src="/img/logo.png" alt="logo"></a>
      <a href="#" id="profil"><img src="/img/fi_home.png" alt=""><p>Dashboard</p> </a>
      <a href="#" class="active" id="dashboard"> <img src="/img/fi_truck.png" alt=""><p>Cars</p> </a>
    </div>
  
    <div class="sidenav2" id="sidenav2">
        <p >CARS</p>
        <a href="#" class="active" id="list-car"><p>List Car</p></a>
    </div>
  </section>