<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="main">
        <div class="path">
        <p><b> Cars</b> > list car</p>
        </div>
        <div class="add-new">
            <b>List Car</b> 
            <a href="/cars/form" class="btn-add-new">+ Add New Car</a>
        </div>
        <div class="button-list">
            <button class="btn-list btn-outline-primary" type="submit">All</button>
            <button class="btn-list btn-outline-primary" type="submit">Small</button>
            <button class="btn-list btn-outline-primary" type="submit">Medium</button>
            <button class="btn-list btn-outline-primary" type="submit">Large</button>
        </div>
        <section id="list-car" class="list-car">
            <div class="container ">
                <div class=" d-flex flex-row justify-content-around flex-wrap pb-5">
                    <% cars.forEach(function(car) { %>
                    <div class="card" style="width: 20rem;">
                      <img src="" class="card-img-top" alt="<%= car.gambar %>">
                      <div class="card-body" >
                        <p class="card-title"><%= car.tipe_mobil %></h5>
                        <p class="card-text "><b><%= car.sewa_harian %> / hari</b> </p>
                        <div class="d-flex justify-content-between">
                            <a href="/cars/delete/<%= car.id%>" class="btn btn-delete btn-outline-danger  "><img src="img/fi_trash-2.png" alt="">Delete </a>
                            <a href="/cars/edit/<%= car.id%>" class="btn btn-edit btn-success"><img src="img/fi_edit.png" alt=""> Edit</a> 
                        </div>   
                      </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </section>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>