<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="main">
        <div class="path">
            <p><b> Cars > <a href="/cars">list car</a> > </b>Update Car Information</p>
        </div>
        <div class="add-new">
            <h4>Add New Car</h4> 
        </div>
        <section id="list-car" class="list-car">
            <form method="post" action="/cars/edit/<%= car.id%>">
                <div class="container bg-light" style="padding: 20px;margin-right: 10px;">
                    <table>
                            <tr >
                                <td><label for="tipe_mobil">Nama</label></td>
                                <td><input type="text" name="tipe_mobil" required placeholder="Avanza" value="<%= car.tipe_mobil %>"></td>
                            </tr>
                            <tr>
                                <td><label for="sewa_harian">Sewa Per Hari</label></td>
                                <td><input type="text" name="sewa_harian" required placeholder="Rp 0,-" value="<%= car.sewa_harian %>"></td>
                            </tr>
                            <tr>
                                <td><label for="ukuran">Ukuran</label></td>
                                <td><select id="ukuran" name="ukuran">
                                    <option value="Small">Small</option>
                                    <option value="Medium" >Medium</option>
                                    <option value="Large">Large</option>
                                  </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="gambar">Foto</label></td>
                                <td><input type="text" name="gambar" required placeholder="https://image.com" value="<%= car.gambar %>"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>file size max 2mb</td>
                            </tr>
                    </table>
                </div>
                <button type="reset" class="btn-outline-primary"><a href="/cars" style="text-decoration: none;">Cancel</a> </button>
                <button type="submit" class="btn-primary">Save</button>
            </form>
        </section>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>