body{
  background-color: #E5E5E5;;
}
.navbar>.container-fluid{
  margin-left: 80px;
}

.navbar>.container-fluid>.navbar-toggler{
  margin-left: 100px;
}

.navbar>.container-fluid>form{
  margin-left: 650px;
}
.navbar>.container-fluid>.text>p{
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0rem;
}
.sidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1031;
    top: 0;
    background-color: #0D28A6;
    overflow-x: hidden;
    padding-top: 10px;
  }
  .sidenav .navbar-brand {
    padding-left: 18px;
    margin-bottom: 15px;
  }
  .sidenav a {
    padding: 6px 6px 0px ;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    color: white;
    display: block;
  }
  
  .sidenav>.active {
    background-color: #FFFFFF4D;
  } 

  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav2 {
    height: 100%;
    padding-left: 70px;
    top: 0;
    width: 300px;
    position: fixed;
    background-color: white;
    padding-top: 98px;
  }
  .sidenav2 p{
    padding-left: 20px;
    margin-bottom: 8px;
  }
  .sidenav2 a {
    text-decoration: none;
    padding-top: 7px;
    height: 40px;
    color: black;
    display: block;
  }

  .sidenav2>.active{
    background-color: #CFD4ED;
  }

  .main {
    margin-top: 80px;
    margin-left: 340px; /* Same as the width of the sidenav */
  }
  
.main .add-new{
  margin-right: 10px;
}
.main .add-new a{
  padding: 6px;
  float: right;
  text-decoration: none;
  background-color: #0D28A6; 
  color: white;
}
.main .button-list{
  margin-top: 20px;
}
.main .button-list .btn-list{
  margin-right: 10px;
  margin-bottom: 10px;
}

.main .list-car .card .btn{
  padding: 10px 40px 10px 40px;
}
.main .list-car .card .btn-delete {
  padding-right: 40px;
  color: red;
}

.main .list-car .card .btn-edit {
  padding-left: 40px;
}

.main .path a{
  text-decoration: none;
  color: black;
}

table, th, td,select {
  border-collapse: collapse;
}
th, td, select {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 40px;
}

.list-car input,select{
  padding: 10px;
  height: 40px;
  width: 300px;
}

.list-car .card{
  margin-bottom: 20px;
  margin-top: 20px;
}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* @media screen and (max-width : 1464px) {
    
  } */